<template>
  <div class="fl w-100 pb4 relative fw4">
    <img class="w3 absolute right-1 top-0" alt="Vue Project" src="../assets/logo.png">
    <h3 class="gray pa4 ma0 tl bb bg-navy white">
      <span class="bb b--light-red">Калькулятор</span>
    </h3>

    <form class="flex flex-column pb4">
      <div class="flex pa4 pb3">
        <p class="mr4">
          <label for="credit-sum" class="f6 b db mb2 fw4 tl">Сумма кредита</label>
          <input id="credit-sum" class="input-reset ba b--black-20 pa2 mb2 db w-100 br2" v-model="params.creditSum" type="number" required>
          <small class="f8 black-60 db mb2">Введите планируемую сумму кредита (руб)</small>
        </p>

        <p class="mr4">
          <label for="rate" class="f6 b db mb2 fw4 tl">Процентная ставка, % годовых</label>
          <input id="rate" class="input-reset ba b--black-20 pa2 mb2 db w-100 br2" v-model="params.rate" type="number" required>
          <small class="f8 black-60 db mb2">Укажите желаемую процентную ставку</small>
        </p>

        <p>
          <label for="credit-period" class="f6 b db mb2 fw4 tl">Срок кредита</label>
          <input id="credit-period" class="input-reset ba b--black-20 pa2 mb2 db w-100 br2" v-model="params.creditPeriod" type="number" required>
          <small class="f8 black-60 db mb2">Укажите срок кредита (мес)</small>
        </p>
      </div>
      <div :class="[`f5 ml4 grow no-underline br-pill ph4 pv2 mb2 dib white bg-navy bn self-start`, {'disabled': !isValid}]" @click="calculate" :disabled="isValid">Рассчитать</div>
    </form>

    <p class="ml4 f4 b db mb2 fw4 tl">
      <span class="bb b--light-red">Сумма ежемесячного платежа:</span> <span v-if="amountPerMonth">{{ amountPerMonth }} руб.</span>
    </p>
  </div>
</template>

<script>
export default {
  name: 'Calculator',

  data() {
    return {
      params: {
        creditSum: 0,
        rate: 0,
        creditPeriod: 0,
      },
      amountPerMonth: 0,
    };
  },
  computed: {
    isValid() {
      return Object.values(this.params).every((param) => param > 0);
    },
  },
  methods: {
    calculate() {
      const { creditSum, rate, creditPeriod } = this.params;
      fetch(`https://rosbank-dom.ru/mortgage_calculator/api/mountPay/?creditSum=${creditSum}&rate=${rate}&creditPeriod=${creditPeriod}`).then((res) => res.json()).then((data) => {
        if (data) this.amountPerMonth = data.data.toLocaleString('ru');
      });
    },
  },
};
</script>

<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  .disabled {
    background-color: gray !important;
    pointer-events: none;
  }
</style>
